.player-container {
  width: 33%;
  height: 83vh;
  align-self: center;
  padding-left: 2rem;
}
.song-artist {
  opacity: 0.6;
  line-height: 28px;
  font-size: 12px;
  color: #fff;
}
.cover-pic {
  border-radius: 8px;
  margin-top: 1rem;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.icon-container {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.08);
}
.icon-play {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.player {
  background: white;
}
.play-pause {
    cursor: pointer;
}
